
/* CSS file for teams section styling */

body
{
  background-color:#f5f5f5;
}

/*wave design*/
.header-design {
    background-color: #cd211d;
    background-image: linear-gradient(326deg, #a4508b 0%, #cd211d 74%);
    height: 120px;
    text-align: center;
}
.listar-map-button {
    right: auto;
}

.listar-map-button-text span {
    background-color: #fff;
    color: #252525;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.listar-map-button-text span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    height: 44px;
    line-height: 1.6;
    padding: 10px 25px;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    background-color: rgba(35, 40, 45, 0.9);
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    height: 44px;
    line-height: 1.6;
    padding: 10px 25px;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    background-color: rgba(35, 40, 45, 0.9);
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span:after {
    content: "";
    position: absolute;
    top: -14px;
    left: -14px;
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border-radius: 36px;
}

.listar-map-button-text span:after {
    border: 12px solid #fff;
}

.listar-map-button-text span {
    background-color: #fff;
    color: #252525;
    text-shadow: none;
}
.listar-map-button {
    width: 100%;
    position: absolute;
    display: table;
    right: 0;
    top: 0;
    height: 200px;
    line-height: 164px;
    white-space: nowrap;
    font-size: 0;
}

header .footer-wave {
    max-width: 102%;
    width: 100%;
    height: 187.8px;
    left: 0;
    z-index: 1;
    bottom: -67px;
    background: url(https://1.bp.blogspot.com/-NYl6L8pz8B4/XoIVXwfhlNI/AAAAAAAAU3k/nxJKiLT706Mb7jUFiM5vdCsOSNnFAh0yQCLcBGAsYHQ/s1600/hero-wave.png) repeat-x;
    animation: wave 10s cubic-bezier(0.44, 0.66, 0.67, 0.37) infinite;
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1440px;
  }
}


.heading
{
    background-color: #ececec;
    border-radius: 8px 8px 8px 8px;
    text-transform: uppercase;
    padding: 13px 39px;
    width: 28%;
    margin: auto;
    font-size: 22px;
    margin-bottom: 30px;
    border: 1px solid #cd211d;
    box-shadow: inset -12px -12px 24px rgb(255 255 255 / 80%), inset 12px 12px 24px rgb(0 6 39 / 10%);
}

.mt-10
{
  margin-top: 50px;
  margin-bottom:50px
}
.user-main
{
  background-color:white;
  width: 100%;
    border-radius: 10px;
    display: inline-block;
    padding: 70px 15px 20px;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    -webkit-box-shadow: 0 12px 43px 0 rgba(0,0,0,.13);
    box-shadow: 0 12px 43px 0 rgba(0,0,0,.13);
}

.user-img
{
  width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
    position: absolute;
    top: -75px;
    left: 25px;
}

.user-img:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 100%;
    border: 3px solid #cd211d;
    z-index: 1;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.user-name
{

}

.user_social
{
  bottom: 30px;
    right: 25px;
    position: absolute;
    z-index: 0;
}

.user_social ul {
    opacity: 0;
    margin-bottom: 15px;
    font-size: 14px;
    padding-top: 10px;
    visibility: hidden;
    position: relative;
    top: -50px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.ul-li-block ul {
    margin: 0;
    padding: 0;
}

.user_social li {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.user_social ul li {
    list-style: none;
    display: block;
}

.user-main:hover {
    -webkit-box-shadow: 0 23px 43px 0 rgba(0,0,0,.26);
    box-shadow: 0 23px 43px 0 rgba(0,0,0,.26);
}

.user-main:hover ul {
    top: 0;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
}

.s2-mem_social {
    bottom: 30px;
    right: 15px;
    position: absolute;
    z-index: 0;
}

.user-main ::selection {
    color: #fff;
    background-color: #6e3ebf;
}

.user_social:after {
    bottom: 20px;
    z-index: -1;
    content: "";
    width: 50px;
    height: 0%;
    opacity: 0;
    border-radius: 35px;
    position: absolute;
    visibility: hidden;
    background-color: #cd211d;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.s2-team_img_text:hover .s2-share_btn {
    background-color: #cd211d;
}

.s2-share_btn {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background-color: #cd211d;
}

.s2-share_btn i {
    color: #fff;
}

.user_social:after {
    bottom: 20px;
    z-index: -1;
    content: "";
    width: 50px;
    height: 0%;
    opacity: 0;
    border-radius: 35px;
    position: absolute;
    visibility: hidden;
    background-color: #cd211d;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.user-designation {
    font-size: 15px;
    font-weight: 500;
    color: #cd211d;
}

.user-headline h3 {
    font-size: 22px;
    padding-bottom: 5px;
}

.user_contact span i {
    color: #cd211d;
    margin-right: 8px;
}

.user_contact span {
    font-size: 15px;
    color: #737272;
    display: block;
    margin-bottom: 5px;
}

.user_contact {
    padding-top: 25px;
}

.user_img:before
{
  position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 100%;
    border: 3px solid #cd211d;
    z-index: 1;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.user-main:hover .user-img::after
{
  opacity: 1;
    visibility: visible;
}

.user_social::after {
    bottom: 20px;
    z-index: -1;
    content: "";
    width: 50px;
    height: 0%;
    opacity: 0;
    border-radius: 35px;
    position: absolute;
    visibility: hidden;
    background-color: #cd211d;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  background-image: radial-gradient(circle at top right, #e00b07 0%, #e21613 48%,#db2421 48%, #dd322f 53%,#ca3634 53%, #cd211d 56%,#cf3836 56%, #ca413e 69%,#cc4b48 69%, #cf5c5a 100%);
}

.user-main:hover .user_social::after {
    height: 100%;
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.user_social li a {
    color: #fff !important;
    text-align: center;
    margin-top: 15px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}


.user-img svg

{
  padding: 10px;
    background-image: radial-gradient(circle at bottom left, rgb(242, 242, 242) 0%, rgb(242, 242, 242) 6%,rgb(238, 238, 238) 6%, rgb(238, 238, 238) 15%,rgb(234, 234, 234) 15%, rgb(234, 234, 234) 47%,rgb(230, 230, 230) 47%, rgb(230, 230, 230) 54%,rgb(225, 225, 225) 54%, rgb(225, 225, 225) 56%,rgb(221, 221, 221) 56%, rgb(221, 221, 221) 90%,rgb(217, 217, 217) 90%, rgb(217, 217, 217) 100%);
}

.user-img img

{
  padding: 10px;
  width: 200px;
  height: 200px;
}