.site-footer {
    background: url("../images/footer/bg3.jpg") center center/cover no-repeat local;
    position: relative;
    font-size: 15px;
    overflow: hidden;
  }

  .site-footer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .site-footer ul {
    list-style: none;
  }

  .site-footer p,
  .site-footer li {
    color: #fff;
  }

  .site-footer .upper-footer {
    padding: 90px 0;
  }

  @media (max-width: 991px) {
    .site-footer .upper-footer {
      padding: 90px 0 20px;
    }
  }

  @media (max-width: 767px) {
    .site-footer .upper-footer {
      padding: 80px 0 10px;
    }
  }

  @media (max-width: 991px) {
    .site-footer .upper-footer .col {
      min-height: 235px;
      margin-bottom: 70px;
    }
  }

  @media (max-width: 767px) {
    .site-footer .upper-footer .col {
      min-height: auto;
      margin-bottom: 60px;
    }
  }

  .site-footer .widget-title {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    .site-footer .widget-title {
      margin-bottom: 20px;
    }
  }

  .site-footer .widget-title h3 {
    font-size: 20px;
    font-size: 1.25rem;
    color: #fff;
    margin: 0;
    padding-bottom: 0.4em;
    text-transform: capitalize;
    position: relative;
  }

  @media (max-width: 991px) {
    .site-footer .widget-title h3 {
      padding-bottom: 0;
    }
  }

  .site-footer .about-widget .logo {
    max-width: 180px;
  }

  .site-footer .about-widget p {
    margin-bottom: 2em;
    line-height: 1.9em;
  }

  .site-footer .about-widget p:last-child {
    margin-bottom: 0;
  }

  .site-footer .contact-widget ul a {
    color: #fff;
    font-weight: 500;
  }

  .site-footer .contact-widget ul a:hover,
  .site-footer .contact-widget ul li:hover:before {
    text-decoration: underline;
  }

  .site-footer .contact-widget ul > li + li {
    margin-top: 15px;
  }

  @media screen and (min-width: 1200px) {
    .site-footer .contact-widget {
      padding-left: 0px;
    }
  }

  .site-footer .contact-widget ul {
    margin-top: 25px;
    padding-left: 0;
  }

  .site-footer .contact-widget ul li {
    position: relative;
  }

  .site-footer .contact-widget ul > li + li {
    margin-top: 15px;
  }

  .site-footer .contact-widget li span {
    color: #fff;
    font-weight: 500;
  }

  .site-footer .lower-footer {
    text-align: center;
    position: relative;
  }

  .site-footer .lower-footer .row {
    padding: 20px 0;
    position: relative;
  }

  .site-footer .lower-footer .row .separator {
    background: rgba(255, 255, 255, 0.1);
    width: calc(100% - 30px);
    height: 1px;
    position: absolute;
    left: 15px;
    top: 0;
  }

  .site-footer .lower-footer .copyright {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0;
  }

  @media (max-width: 991px) {
    .site-footer .lower-footer .copyright {
      float: none;
      display: block;
      margin: 0 0 20px;
    }
  }

  .site-footer .lower-footer .copyright a {
    color: #fff;
    text-decoration: underline;
  }

  .site-footer .lower-footer .extra-link {
    display: inline-block;
    float: right;
    overflow: hidden;
  }

  @media (max-width: 991px) {
    .site-footer .lower-footer .extra-link {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .site-footer .lower-footer .extra-link ul {
    overflow: hidden;
    list-style: none;
  }

  @media (max-width: 991px) {
    .site-footer .lower-footer .extra-link ul {
      display: inline-block;
    }
  }

  .site-footer .lower-footer .extra-link ul li {
    float: left;
  }

  .site-footer .lower-footer .extra-link ul > li + li {
    margin-left: 35px;
    position: relative;
  }

  @media (max-width: 767px) {
    .site-footer .lower-footer .extra-link ul > li + li {
      margin-left: 15px;
    }
  }

  .site-footer .lower-footer .extra-link ul > li + li:before {
    content: "";
    background: #020202;
    width: 15px;
    height: 1px;
    position: absolute;
    left: -25px;
    top: 11px;
  }

  @media (max-width: 767px) {
    .site-footer .lower-footer .extra-link ul > li + li:before {
      display: none;
    }
  }

  .site-footer .lower-footer .extra-link ul a {
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
  }

  .site-footer .lower-footer .extra-link ul a:hover {
    text-decoration: underline;
  }

  .sticky-header {
    width: 100%;
    position: fixed;
    left: 0;
    top: -200px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  }

  .sticky-on {
    opacity: 1;
    top: 0;
  }

  .header-style-1 .sticky-header, .header-style-2 .sticky-header, .header-style-3 .sticky-header {
    background-color: #000;
  }

  .header-style-2 .sticky-header {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(23, 46, 73, 0.09);
    box-shadow: 0px 0px 30px 1px rgba(23, 46, 73, 0.09);
  }

  @media screen and (min-width: 992px) {
    .header-style-3 .sticky-header .navbar-brand {
      top: 0;
      margin-top: 0;
    }
    .header-style-3 .sticky-header .navbar-brand img {
      max-width: 92px;
    }
  }