body{
  overflow-x: hidden;
}
#links-nav {
  opacity: 0;
}
.progress-bar {
  width: 0; 
}
.overlay:hover .overlay-content .progress .progress-bar{
  animation: progress 1.5s ease-in-out forwards;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section-padding {
  padding: 20px 0;
}

@media (max-width: 991px) {
  .section-padding {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
    padding: 8px 0;
  }
}

.gallery {
  width: 15%;
}

.about {
    height: 100vh;
    padding-top: 20vh;
    color: whitesmoke;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about a {
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
}
.about p {
  color: white;
  font-size: 1.3vw;
  font-weight:bold;
}
.about h1 {
  color: #fff;
  font-size: 5vw;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .about p  {
    font-size: 4vw;
  }
}
@media screen and (min-width: 700px and max-width: 992px) {
  .about p  {
    font-size: 3vw;
  }
}
@media screen and (min-height: 900px) {
  .about h1 {
    font-size: 4vh;
  }
  .about p  {
    font-size: 3vh;
  }
  .about a {
    font-size: 3vh;
  }
}
@media screen and (max-width: 992px) {
  .about h1  {
    font-size: 10vw;

  }
  .about a  {
    font-size: 6vw;

  }
}
.about a:hover {
  color: red;
}
.about .container {
  position:relative;
  z-index:1;
  background:rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  height: 95%;
  padding-top: 10vh;
}
.about-flower {
    height: 70vh;
    color: whitesmoke;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.b2w {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }
    
    .b2w:hover {
      filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #transmenu {
      -moz-transition: background 0.6s ease;
      -webkit-transition: background 0.6s ease;
      transition: background 0.6s ease;
      text-transform: uppercase;
      font-weight: bolder;
    }
    
    #transmenu.transparency {
      background: transparent !important;
      box-shadow: none;
      border-color: transparent !important;
    }
    @media screen and (max-width: 992px) {
      #transmenu.transparency {
        background: rgb(105, 101, 101, 0.7) !important;
      }
    }
    #transmenu .navbar-brand {
      -moz-transition: all 0.6s ease;
      -webkit-transition: all 0.6s ease;
      transition: all 0.6s ease;
      max-width: 50vw;
      padding: 0;
    }
    #transmenu .navbar-brand {
      height: 100%;
      width: auto;
    }
    
    #transmenu.transparency .navbar-brand {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: #fff !important;
      border: none;
    }
    
    #transmenu.transparency .nav-link, #transmenu.transparency, #transmenu.transparency .nav-link:focus {
      color: #fff;
      border: none;
      opacity: 1;
      text-shadow: 0px 0px 2px black;
    }
    
  .nav-link:hover{
    color: #cd211d !important;
  }
  .nav-link.active{
    color: #cd211d !important;
    border: 2px solid #cd211d !important;
    padding: 4px 10px !important;
    border-radius: 20px !important;
  }
    #transmenu .navbar-toggler {
      position: relative;
      height: 35px;
      margin-right: -.75rem;
      border: none;
    }
    
    #transmenu .navbar-toggler:focus, #transmenu .navbar-toggler:active {
      outline: 0;
    }
    
    #transmenu .navbar-toggler span {
      display: block;
      background-color: #6f6f6e;
      height: 2px;
      width: 25px;
      margin-top: 4px;
      margin-bottom: 4px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      left: 0;
      opacity: 1;
    }
    
    #transmenu.transparency .navbar-toggler span {
      background: #fff;
    }
    
    #transmenu .navbar-toggler span:nth-child(1), #transmenu .navbar-toggler span:nth-child(3) {
      -webkit-transition: transform .35s ease-in-out;
      -moz-transition: transform .35s ease-in-out;
      transition: transform .35s ease-in-out;
    }
    
    #transmenu .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 0.9;
    }
    
    #transmenu .navbar-toggler:not(.collapsed) span:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
    }
    
    #transmenu .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 0.9;
    }

   /*about cards*/

/*--------------------------------------------------------------
#4.2	mission-vision-section
--------------------------------------------------------------*/
.mission-vision-section .mission-vision-grids {
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .mission-vision-section .mission-vision-grids {
    margin: 0 -7.5px;
  }
}

.mission-vision-section .mission-vision-grids .grid {
  width: calc(33.33% - 30px);
  float: left;
  margin: 0 15px 50px;
  padding: 60px 40px;
  -webkit-box-shadow: 0px 5px 41.61px 15.39px rgba(195, 195, 195, 0.21);
  box-shadow: 0px 5px 41.61px 15.39px rgba(195, 195, 195, 0.21);
  position: relative;
}

@media (max-width: 991px) {
  .mission-vision-section .mission-vision-grids .grid {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .mission-vision-section .mission-vision-grids .grid {
    width: calc(50% - 15px);
    margin: 0 7.5px 50px;
    padding: 40px 30px;
  }
}

@media (max-width: 600px) {
  .mission-vision-section .mission-vision-grids .grid {
    width: calc(100% - 15px);
    float: none;
  }
}

.mission-vision-section .grid h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin: 0 0 0.8em;
}

@media (max-width: 991px) {
  .mission-vision-section .grid h3 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.mission-vision-section .grid p {
  margin-bottom: 0;
}

.mission-vision-section .overlay {
  background: url("../images/m-1.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.mission-vision-section .overlay:before {
  content: "";
  background: rgba(205, 33, 29, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mission-vision-section .grid:hover .overlay,
.mission-vision-section .mission-vision-grids > .grid:nth-child(2) .overlay {
  opacity: 1;
}

.mission-vision-section .grid:hover h3,
.mission-vision-section .grid:hover p,
.mission-vision-section .mission-vision-grids > .grid:nth-child(2) h3,
.mission-vision-section .mission-vision-grids > .grid:nth-child(2) p {
  color: #fff;
}


.section-title, .section-title-s2, .section-title-s3 {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .section-title, .section-title-s2, .section-title-s3 {
    margin-bottom: 40px;
  }
}

.section-title > span, .section-title-s2 > span, .section-title-s3 > span {
  font-weight: 700;
  color: #cd211d;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  margin-top: -0.3em;
}

.section-title h2, .section-title-s2 h2, .section-title-s3 h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1em;
  margin: 0.2em 0 0;
}

.section-title h2 span, .section-title-s2 h2 span, .section-title-s3 h2 span {
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #020202;
}

@media (max-width: 991px) {
  .section-title h2, .section-title-s2 h2, .section-title-s3 h2 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .section-title h2, .section-title-s2 h2, .section-title-s3 h2 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

.section-title-s2, .section-title-s3 {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .section-title-s2, .section-title-s3 {
    margin-bottom: 40px;
  }
}

.section-title-s3 {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-s3 h2 {
  margin-bottom: 0.4em;
}

@media (max-width: 767px) {
  .section-title-s3 {
    margin-bottom: 40px;
  }
}