{% extends "base.html" %}
{% load socialaccount %}
{% load tz %}
{% load static %}

{% block title %}About{% endblock %}
{% block email %}{{email}}{% endblock %}
{% block since %}{{since|timezone:"Asia/Kolkata"}}{% endblock %}
{% block amt %}{{amt}}{% endblock %}
{% block content %}


<div class="jumbotron text-center about" style="background-image: url({% static 'images/index/hand.jpg' %});">
    <div class="container">
        <h1>ABOUT</h1>
        <h4>"Never doubt that a small group of thoughtful,<br>
            committed citizens can change the world.<br>
            Indeed, it's the only thing that ever has."<br>
            Margaret Mead</h4>
    </div>
</div>

<section class="mission-vision-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="mission-vision-grids clearfix">
                    <div class="grid">
                        <div class="overlay"></div>
                        <h3>Our mission</h3>
                        <p>Doubtless, education is the most powerful catalyst for social transformation.
                            But child education cannot be done in isolation. A child will go to school
                            only if the family, particularly the mother, is assured of healthcare and empowered.
                            Moreover, when an elder sibling is relevantly skilled to be employable and begins earning,
                            the journey of empowerment continues beyond the present generation.</p>
                    </div>
                    <div class="grid">
                        <div class="overlay"></div>
                        <h3>Our vision</h3>
                        <p>Education is both the means as well as the end to a better life:
                            the means because it empowers an individual to earn his/her livelihood and
                            the end because it increases one's awareness on a range of issues – from healthcare to
                            appropriate social behaviour to understanding one's rights – and in the process help him/her
                            evolve as a better citizen.</p>
                    </div>
                    <div class="grid">
                        <div class="overlay"></div>
                        <h3>Our value</h3>
                        <p> Our Foundation, with the help of NGOs for poor child education, is directly benefitting
                            over 15,00,000 children and their families every year, through more than 400 live welfare
                            projects on education, healthcare, livelihood and women empowerment, in over 2000 remote
                            villages and slums across 27 states of India.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="header-design">
    <div class="listar-map-button">
        <div class="listar-map-button-text" style="display: inline-block; opacity: 1;">

        </div>
    </div>

    <div class="footer-wave"></div>
</header>

<section class="mainbg">
    <div class="container">

        <span class="icon-map2">
            <h2>OUR TEAM </h2>
        </span>
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center mb-5 mt-5">
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3 col-md-3 mt-10">
                <div class="user-main">

                    <div class="user-img">

                        <img src="{% static 'images/team/profile-pic-surya.jpg' %}">

                    </div>

                    <div class="user-name">
                        <div class="user-headline">
                            <h3>Suryavardan S</h3>
                            <span class="user-designation">Full Stack Developer</span>
                            <div class="user_contact">
                                <span><i aria-hidden="true" class="fa fa-phone"></i>970-2370-330</span>
                                <span><i aria-hidden="true" class="fa fa-envelope"></i>suryavardan.s19@iiits.in</span>
                            </div>
                        </div>
                    </div>

                    <div class="user_social ul-li-block">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-github"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        </ul>
                        <div class="s2-share_btn text-center"><i class="fa fa-share-alt"></i></div>
                    </div>


                </div>
            </div>

            <div class="col-sm-3 col-md-3 mt-10">
                <div class="user-main">

                    <div class="user-img">

                        <img src="{% static 'images/team/profile-pic-anurag.jpg' %}">
                    </div>

                    <div class="user-name">
                        <div class="user-headline">
                            <h3>Anurag Kumar</h3>
                            <span class="user-designation">Full Stack Developer</span>
                            <div class="user_contact">
                                <span><i aria-hidden="true" class="fa fa-phone"></i>725-0536-658</span>
                                <span><i aria-hidden="true" class="fa fa-envelope"></i>anurag.k19@iiits.in</span>
                            </div>
                        </div>
                    </div>

                    <div class="user_social ul-li-block">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-github"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        </ul>
                        <div class="s2-share_btn text-center"><i class="fa fa-share-alt"></i></div>
                    </div>


                </div>
            </div>

            <div class="col-sm-3 col-md-3 mt-10">
                <div class="user-main">

                    <div class="user-img">

                        <img src="{% static 'images/team/profile-pic-himesh.jpg' %}">
                    </div>

                    <div class="user-name">
                        <div class="user-headline">
                            <h3>Himesh Kumar</h3>
                            <span class="user-designation">Full Stack Developer</span>
                            <div class="user_contact">
                                <span><i aria-hidden="true" class="fa fa-phone"></i>729-4805-064</span>
                                <span><i aria-hidden="true" class="fa fa-envelope"></i>himesh.k19@iiits.in</span>
                            </div>
                        </div>
                    </div>

                    <div class="user_social ul-li-block">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-github"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        </ul>
                        <div class="s2-share_btn text-center"><i class="fa fa-share-alt"></i></div>
                    </div>


                </div>
            </div>

            <div class="col-sm-3 col-md-3 mt-10">
                <div class="user-main">

                    <div class="user-img">

                        <img src="{% static 'images/team/profile-piyush.jpg' %}">
                    </div>

                    <div class="user-name">
                        <div class="user-headline">
                            <h3>Piyush Kumar</h3>
                            <span class="user-designation">Full Stack Developer</span>
                            <div class="user_contact">
                                <span><i aria-hidden="true" class="fa fa-phone"></i>620-1856-718</span>
                                <span><i aria-hidden="true" class="fa fa-envelope"></i>piyush.k19@iiits.in</span>
                            </div>
                        </div>
                    </div>

                    <div class="user_social ul-li-block">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-github"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        </ul>
                        <div class="s2-share_btn text-center"><i class="fa fa-share-alt"></i></div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</section>


<section>
    <!-- <a href="gallery"> -->
    <div class="container-fluid">
        <div class="section-title text-center">
            <h2>Gallery</h2>
        </div>
        <!-- <div class="row no-gutters"> -->
        <div class="d-flex flex-wrap justify-content-center">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-1.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-2.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-3.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-4.jpg' %}">

            <img class="b2w gallery" src="{% static 'images/index/instagram/img-5.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-6.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-7.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-8.jpg' %}">

            <img class="b2w gallery" src="{% static 'images/index/instagram/img-9.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-10.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/img-1.jpg' %}">
            <img class="b2w gallery" src="{% static 'images/index/instagram/tree.jpg' %}">
        </div>
    </div>
</section>









{% endblock %}