<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Donation Platform - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link href="{% static 'css/ourStyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">
    <link href="{% static 'css/preloader.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/causes.css' %}" rel="stylesheet">
    <link href="{% static 'css/cards.css'%}" rel="stylesheet">
    <link href="{% static 'css/form.css'%}" rel="stylesheet">

</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light"
            id="transmenu">
            <div class="container pb-2 border-bottom border-dark">
                <a class="navbar-brand p-0" href="/">
                    <img width="40%" class="img-responsive" src="{% static 'images/nav/logo.png' %}"></a>
                <button data-toggle="collapse" class="navbar-toggler collapsed"
                    data-target="#navcol-1"><span></span><span></span><span></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav flex-fill text-center" id="links-nav">
                        {% with request.resolver_match.url_name as url_name %}

                        <li class="nav-item"><a class="nav-link {% if url_name == 'index' %}active disabled{% endif %}"
                                href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link {% if url_name == 'about' %}active disabled{% endif %}"
                                href="about">About</a></li>
                        <li class="nav-item"><a class="nav-link {% if url_name == 'causes' %}active disabled{% endif %}"
                                href="causes">Causes</a></li>
                        <!-- <li class="nav-item"><a class="nav-link {% if url_name == 'team' %}active disabled{% endif %}"
                                href="team">Team</a></li> -->
                        <!-- <li class="nav-item"><a class="nav-link {% if url_name == 'events' %}active disabled{% endif %}"
                                href="events">Events</a></li> -->
                        <li class="nav-item"><a
                                class="nav-link {% if url_name == 'contact' %}active disabled{% endif %}"
                                href="contact">Contact</a></li>
                        <li class="nav-item disabled flex-fill"></li>
                        {% endwith %}
                        {% if user.is_authenticated %}
                        <!-- <li class="nav-item"><a href="" id="logout-link" class="nav-link">Logout</a></li> -->
                        <li class="nav-item"><button class="btn btn-outline-danger" type="button" id="myBtn">Open
                                User</button></li>
                        {% else %}
                        <li class="nav-item"><a href="{% provider_login_url 'google' %}" class="nav-link">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="myModal" class="modal">
        <!-- <br>
        <br>
        <br> -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="row">
                <div class="col text-center m-auto col-md-3 col-12">
                    <img src="{{user.socialaccount_set.all.0.get_avatar_url}}" class="img-fluid border rounded-circle"
                        width="50%">
                    <div class="text-center p-2" style="width: 100%;">
                        <button class="btn btn-outline-danger" type="button" id="logout-link">Logout</button>
                    </div>
                </div>
                <div class="col text-center m-auto col-md-9 col-12">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                    data-toggle="tab" href="#tab-1">Bio</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab"
                                    href="#tab-2">Donations</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <h4>{% block email %}{% endblock %}</h4>
                                <p>Date Joined: {% block since %}{% endblock %}</p>
                                <p>Total Amount: &#8377; {% block amt %}{% endblock %}</p>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <div class="donation-list">
                                    {% for don in donations %}
                                    <div class="text-center border rounded-0 border-danger"
                                        style="padding: 2px;margin-top: 10px;">
                                        <p style="margin: 0px;">{{don.cause_id.cause}} &#8377;{{don.amount}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="logoutModal" class="modal">
        <br>
        <br>
        <br>
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Confirm Logout from {{ user.email }} ?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="site-footer">
        <div class="upper-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class="widget about-widget">
                            <div class="widget-title">
                                <h3>
                                    <span class="hidden">About us</span>
                                    <img class="img-fluid" src="{% static 'images/nav/logo.png' %}" alt>
                                </h3>
                            </div>
                            <p>Follow us here :</p>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"
                                                style="height:12px;width:12px"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"
                                                style="height:12px;width:12px"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"
                                                style="height:12px;width:12px"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"
                                                style="height:12px;width:12px"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class="widget contact-widget service-link-widget">
                            <div class="widget-title">
                                <h3>Address Location</h3>
                            </div>
                            <ul>
                                <li>IIIT Sri City,Academic Block </li>
                                <li><span>Phone:</span> 1234567890</li>
                                <li><span>Email:</span> grp21@gmail.com</li>
                                <li><span>Office Time:</span> 10AM- 5PM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class="widget link-widget">
                            <div class="widget-title">
                                <h3>Quick Links</h3>
                            </div>
                            <ul>
                                <li><a href="about">About us</a></li>
                                <li><a href="causes">Our services</a></li>
                                <li><a href="contact">Contact us</a></li>
                                <li><a href="about">Meet team</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class="widget newsletter-widget">
                            <div class="widget-title">
                                <h3>Newsletter</h3>
                            </div>
                            <p>You will be notified when new causes will be appear.</p>
                            <form>
                                <div class="input-1">
                                    <input type="email" class="form-control" placeholder="Email Address *" required>
                                </div>
                                <div class="submit clearfix">
                                    <button type="submit"><i class="fi flaticon-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </div>
        <div class="lower-footer">
            <div class="container">
                <div class="row">
                    <div class="separator"></div>
                    <div class="col col-xs-12">
                        <p class="copyright">Copyright &copy; 2020 GRP 21. All rights reserved</p>
                        <div class="extra-link">
                            <ul>
                                <li><a href="#">Privace & Policy</a></li>
                                <li><a href="#">terms and conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/causes.js' %}"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>