{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center about" style="background-image: url({% static 'images/index/hand.jpg' %});">
    <div class="container">
        <h1>Heading text</h1>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quamNullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
            facilisis
            in, egestas
            eget quamNullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
            facilisis
            in, egestas
            eget quam.</p>
        <a href="#">Donate Now <i class="fi flaticon-heart-1"></i></a>
    </div>
</div>

<section class="section-padding">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="section-title">
                    <span>#About</span>
                    <h2>Charity is a continuous process toward success and happiness</h2>
                </div>
                <a href="#">More about us</a>
            </div>
            <div class="col-sm-12 col-md-4">
                <img class="img-fluid" src="{% static 'images/index/about-s3.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-4">
                <br>
                <p>Throw myself down among the tall grass by the trickling stream; and, as I lie close to
                    the
                    earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little
                    world
                    among the stalks, and grow familiar with the countless indescribable forms of the
                    insects
                    and flies, then I feel the presence of the Almighty, who formed us in his own image, and
                    the
                    breath</p>
                <h5>Michel Jhon</h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}