{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center about" style="background-image: url({% static 'images/index/hand.jpg' %});">
    <div class="container">
        <h1>Heading text</h1>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quamNullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
            facilisis
            in, egestas
            eget quamNullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
            facilisis
            in, egestas
            eget quam.</p>
        <a href="#">Donate Now <i class="fi flaticon-heart-1"></i></a>
    </div>
</div>
{% endblock %}