<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
  <p>Confirm Logout from {{ user.email }} ?</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">Confirm</button>
    </form>
</body>
</html>