<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link href="{% static 'css/form.css'%}" rel="stylesheet">
</head>

<body style="width: fit-content; min-width: 100vw; overflow-x: hidden;">
    <!-- Display NGO name & causes list table if logged in -->
    {% if user.is_authenticated %}
    <div class="text-center">
        <h1>{{user.get_username}}</h1>
    </div>
    <div class="text-center mb-5">
        <a href="ngo-logout"><button class="btn btn-outline-danger" type="button" id="logout-link">Logout</button></a>
        <!-- Error message from edit-cause page -->
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <h6 style="color:red">{{message}}</h6><br>
        {% endif %}
        {% endfor %}
    </div>
    <div class="text-center pb-2">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cause</th>
                    <th scope="col">Amount Required</th>
                    <th scope="col">Amount Donated</th>
                    <th scope="col">Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- List causes in loop from database -->
                {% for cause in causes %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="donations?c={{cause.cause}}">

                            {{cause.cause}}
                        </a>
                    </td>
                    <td>{{cause.amount_req}}</td>
                    <td>{{cause.amount_donated}}</td>
                    <td>
                        <img class="img-responsive" style="height: 6rem;" src="{{ cause.image }}" alt>
                    </td>
                    <td>
                        <a href="edit?c={{cause.cause}}">
                            <button type="button" class="btn btn-warning">Edit</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="edit?c=add">
            <button type="button" class="btn btn-success">Add</button>
        </a>
    </div>
    {% else %}
    <!-- Display login form -->
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form action="ngo" method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Login</strong></h2>
                <!-- Error message incase of wrong username/password -->
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <h6 style="color:red">{{message}}</h6><br>
                {% endif %}
                {% endfor %}
                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-group"><input class="form-control" type="password" name="password"
                        placeholder="Password" required></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div><a class="already" href="contact">Haven't registered yet?&nbsp;<i
                        class="fa fa-arrow-right"></i></a>
            </form>
        </div>
    </section>
    {% endif %}

</body>

</html>