<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donation Platform - Success</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static 'css/success.css' %}" rel="stylesheet">
    <link href="{% static 'css/preloader.css' %}" rel="stylesheet">
</head>

<body>
    <div class="preloader" id="load" style="display:none; position: fixed; z-index: 2;">
        <div class="preloader-inner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div id="mymdl" class="mdl">
        <div class="mdl-dialog mdl-confirm">
            <div class="mdl-content">
                <div class="mdl-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                </div>
                <div class="mdl-body text-center">
                    <h4>Payment Received</h4>
                    <p>Thank You for your Generosity!<br>Confirmation will be sent to your email</p>
                    <form action="success_mail" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="hidden" name="order" placeholder="" value="{{order}}" hidden>
                        <button class="btn btn-success" data-dismiss="mdl" type="submit"
                            onclick="loading()"><span>Generate Confirmation Email</span>
                            <i class="material-icons">&#xE5C8;</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loading() {
            document.getElementById("load").style.display = "inline";
        }
    </script>
</body>

</html>